<html>
    <head>
        <title>Anonymizer</title>
    </head>
    <body style="background-color: 6F8EA0; text-align: center;">
        <div style="margin-top: 5rem;">
            <a href="/" style="background-color: #93989B; color: white; padding: 15px 25px; text-decoration: none;">Back</a>
        </div>
        <div>
            <img src="{{url_for('static', filename='after.jpg')}}" style="margin-top: 4rem;" alt="image" height=52% width = 50%>
        </div>
        <div style="padding-top: 3rem;">
            <a  href="static/after.jpg" style="background-color: #93989B; color: white; padding: 15px 25px; text-decoration: none;" download>Download</a>
        </div>
        </body>
</html>